doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    p= name

    ul
      li Introduction

    input(type='text').class-name#anyid

    - var conditioninjade = true

    if condition
      p its true

    if conditioninjade
      p its true, jade

    - var anyArray = [4,5,6]

    each value in anyArray
      p= value

    block content